# Experiments

In [28]:
import os
import ast
import json
import pandas as pd

# Load
## Einlesen der CSV

In [2]:
CSV_FILE_PATH = os.path.join("..", "input", "movies_metadata.csv")

In [4]:
movies_df = pd.read_csv(CSV_FILE_PATH)

C:\Users\mkoenig\AppData\Local\Programs\Python\Python39\lib\site-packages\IPython\core\interactiveshell.py:3441: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [5]:
movies_df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

# Transform
## Sichere Codeprüfung mit Eval-Funktionen

In [25]:
x= movies_df["genres"].apply(ast.literal_eval)

In [26]:
x

0        [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1        [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2        [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3        [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4                           [{'id': 35, 'name': 'Comedy'}]
                               ...
45461    [{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...
45462                        [{'id': 18, 'name': 'Drama'}]
45463    [{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...
45464                                                   []
45465                                                   []
Name: genres, Length: 45466, dtype: object

In [27]:
x[0][0]["id"]

16

In [13]:
eval(x)

[{'id': 16, 'name': 'Animation'},
 {'id': 35, 'name': 'Comedy'},
 {'id': 10751, 'name': 'Family'}]

In [14]:
movies_df.shape

(45466, 24)

In [16]:
s1 = x

In [17]:
s1

"[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]"

In [18]:
s2 = "[{'id': print('hi'), 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]"

In [19]:
eval(s1)

[{'id': 16, 'name': 'Animation'},
 {'id': 35, 'name': 'Comedy'},
 {'id': 10751, 'name': 'Family'}]

In [20]:
eval(s2)

hi

[{'id': None, 'name': 'Animation'},
 {'id': 35, 'name': 'Comedy'},
 {'id': 10751, 'name': 'Family'}]

In [23]:
ast.literal_eval(s1)

[{'id': 16, 'name': 'Animation'},
 {'id': 35, 'name': 'Comedy'},
 {'id': 10751, 'name': 'Family'}]

In [24]:
ast.literal_eval(s2)

ValueError: malformed node or string: <ast.Call object at 0x0000022F5AE2EA30>

## Versuch an genres Heranzukommen

In [30]:
d = ast.literal_eval(s1)
d

[{'id': 16, 'name': 'Animation'},
 {'id': 35, 'name': 'Comedy'},
 {'id': 10751, 'name': 'Family'}]

In [31]:
result = []

In [35]:
for x in d:
    result.append(f"{x['id']}: {x['name']}")

In [36]:
result

['16: Animation', '35: Comedy', '10751: Family']

In [37]:
d

[{'id': 16, 'name': 'Animation'},
 {'id': 35, 'name': 'Comedy'},
 {'id': 10751, 'name': 'Family'}]

In [38]:
pd.DataFrame(d)

      id       name
0     16  Animation
1     35     Comedy
2  10751     Family

## Versuch in der Gruppe

Extraktion der Genres aus dem movies_df. Problem Hierbei in der Spalte genres sind mit einem Dictionary mehrere ids und Genres verknüpft.

In [71]:
movie_df = movies_df[["genres", "id"]]

In [72]:
movie_df

                                                  genres      id
0      [{'id': 16, 'name': 'Animation'}, {'id': 35, '...     862
1      [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...    8844
2      [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...   15602
3      [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...   31357
4                         [{'id': 35, 'name': 'Comedy'}]   11862
...                                                  ...     ...
45461  [{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...  439050
45462                      [{'id': 18, 'name': 'Drama'}]  111109
45463  [{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...   67758
45464                                                 []  227506
45465                                                 []  461257

[45466 rows x 2 columns]

In [83]:
movies_genres = []
genre_names = []

for index, row in movie_df.iterrows():
    #print (row["id"])
    genres = ast.literal_eval(row["genres"])
    for genre in genres:
        #print ("--> ",genre['id'])
        movie_genre = dict(
            movie_id=row["id"],
            genre_id=genre['id'],
        )
        movies_genres.append(movie_genre)
        genre_name = dict(
            genre_id=genre['id'],
            genre_name=genre['name']
        )
        genre_names.append(genre_name)

In [105]:
genre_names_df = pd.DataFrame(genre_names).drop_duplicates()

In [107]:
genre_names_df.head()

   genre_id genre_name
0        16  Animation
1        35     Comedy
2     10751     Family
3        12  Adventure
4        14    Fantasy

In [108]:
movies_genre_df = pd.DataFrame(movies_genres)

In [109]:
movies_genre_df

      movie_id  genre_id
0          862        16
1          862        35
2          862     10751
3         8844        12
4         8844        14
...        ...       ...
91101   439050     10751
91102   111109        18
91103    67758        28
91104    67758        18
91105    67758        53

[91106 rows x 2 columns]

## Marcels Code

Extraktion der Genres aus dem movies_df. Problem Hierbei in der Spalte genres sind mit einem Dictionary mehrere ids und Genres verknüpft.

In [101]:
genres =[]
genres_movies = []

for i, m in movies_df.iterrows():
    mg = m["genres"]
    mg = ast.literal_eval(mg)
    for g in mg:
        genres.append(g)
        genres_movies.append(dict(
            movie_id=m["id"],
            genre_id=g["id"],
        ))

In [103]:
pd.DataFrame(genres).drop_duplicates().head()

      id       name
0     16  Animation
1     35     Comedy
2  10751     Family
3     12  Adventure
4     14    Fantasy

In [104]:
pd.DataFrame(genres_movies)

      movie_id  genre_id
0          862        16
1          862        35
2          862     10751
3         8844        12
4         8844        14
...        ...       ...
91101   439050     10751
91102   111109        18
91103    67758        28
91104    67758        18
91105    67758        53

[91106 rows x 2 columns]

      movie_id  genre_id
0          862        16
1          862        35
2          862     10751
3         8844        12
4         8844        14
...        ...       ...
91101   439050     10751
91102   111109        18
91103    67758        28
91104    67758        18
91105    67758        53

[91106 rows x 2 columns]