In [1]:
import pandas as pd
import ast
import numpy
import sqlite3 as sql
import os

In [12]:
#vars
input_folder = os.path.join('..','input')
SQLITE_FILE_PATH = os.path.join('..', "output", "dwh.sqlite3")

In [22]:
movies_df = pd.read_csv(os.path.join(input_folder,'movies_metadata.csv'))

c:\users\marc\appdata\local\programs\python\python39\lib\site-packages\IPython\core\interactiveshell.py:3437: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [26]:
movies_df

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

In [4]:
movies_genres = []
genre_names = []

In [5]:
for index, row in movies_df.iterrows():
    genres = ast.literal_eval(row["genres"])
    for genre in genres:        
        genre_names.append(genre)           
        movie_genre = dict(
            movie_id=row['id'],
            genre_id=genre['id'],
        )   
        movies_genres.append(movie_genre)

In [6]:
movies_genres_df = pd.DataFrame(movies_genres)

In [7]:
movies_genres_df

      movie_id  genre_id
0          862        16
1          862        35
2          862     10751
3         8844        12
4         8844        14
...        ...       ...
91101   439050     10751
91102   111109        18
91103    67758        28
91104    67758        18
91105    67758        53

[91106 rows x 2 columns]

In [8]:
genre_names_df = pd.DataFrame(genre_names).drop_duplicates()

In [9]:
genre_names_df

          id                                   name
0         16                              Animation
1         35                                 Comedy
2      10751                                 Family
3         12                              Adventure
4         14                                Fantasy
6      10749                                Romance
9         18                                  Drama
12        28                                 Action
13        80                                  Crime
15        53                               Thriller
32        27                                 Horror
36        36                                History
63       878                        Science Fiction
82      9648                                Mystery
105    10752                                    War
138    10769                                Foreign
158    10402                                  Music
190       99                            Documentary
486       37                                Western
738    10770                               TV Movie
44572  11176                   Carousel Productions
44573  11602              Vision View Entertainment
44574  29812       Telescene Film Group Productions
62872   2883                                Aniplex
62873   7759                                GoHands
62874   7760                              BROSTA TV
62875   7761  Mardock Scramble Production Committee
62876  33751                       Sentai Filmworks
74039  17161                          Odyssey Media
74040  18012                     Pulser Productions
74041  18013                            Rogue State
74042  23822                             The Cartel

In [13]:
con = sql.connect(SQLITE_FILE_PATH)

In [17]:
genre_names_df.to_sql('genres', con=con, if_exists='replace', index=False)

In [21]:
query = """
        SELECT * FROM genres;
        """
#pd.read_sql_query(query, con=con)

In [20]:
con.close()